.lista{
 background-color: rgba(0,0,0,0.9) !important;
}
.lista >li >a:hover{
	background-color: rgba(0,0,0,0.9) !important;
	
}

@font-face {
  font-family: 'Kaushan Script';

  src: url('../fonts/KaushanScript-Regular.ttf');
  
}

@font-face {
  font-family: 'Montserrat';

  src: url('../fonts/Montserrat-Regular.ttf');
  
}


@font-face {
  font-family: 'Droid Serif';

  src: url('../fonts/DroidSerif.ttf');
  
}

@font-face {
  font-family: 'Roboto Slab';

  src: url('../fonts/RobotoSlab-Regular.ttf');
  
}

